/* CSS Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main CSS */
body {
}

#root {
  margin: auto;
  width: 50%;
  padding: 10px;
}

main {
  margin: auto;
  text-align: center;
  padding-top: 30px;
  width: 50%;
  height: 200px;
  background: #336699;
  border: none;
  border-radius: 10px;
}

p {
  margin: 10px 0;
  font-size: 24px;
}

fieldset {
  border: none;
}

input {
  line-height: 30px;
  font-size: 24px;
  vertical-align: bottom;
  border: none;
  border-radius: 4px;
  outline: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0 10px;
  line-height: 32px;
  vertical-align: bottom;
  width: 30px;
  font-size: 24px;
  text-align-last: center;
  border: none;
  border-radius: 4px;
  outline: none;
  background: lightgrey;
}

button {
  margin-left: 10px;
  height: 32px;
  font-size: 24px;
  width: 30px;
  border: none;
  border-radius: 4px;
  background: lightgrey;
  cursor: pointer;
}
